/*ALL PAGES*/
@import url('https://fonts.googleapis.com/css2?family=Keania+One&family=UnifrakturCook:wght@700&display=swap');

@font-face {
  font-family: "bf6"; 
  src: url("src/BF_TEXT_REGULAR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "factorio"; 
  src: url("src/Full\ Automation-Squared.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "msc"; 
  src: url("src/Advert-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}


footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer nav {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

header {
  padding-top: 10px;
  background-color: #171d25;
}

.banner, .banner1, .banner2, .banner3, .banner4, .banner5, .banner6{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
  margin-right: 9px;
}

.banner > img, .banner1 > img, .banner3 > img{
  flex: 1;
  height: 8%;
  width: 8%;
}

.banner2 > img, .banner4 > img, .banner5 > img, .banner6 > img {
  width: auto;
  height: 10vw;
}

.banner > h1, .banner1 > h1, .banner3 > h1 {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 2vw;
}

.banner h1, .banner1 h1, .banner2 h1, .banner3 h1, .banner4 h1, .banner5 h1, .banner6 h1 {
  font-size: 2vw;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav a {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #c5c3c0;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

nav > a:hover {
  text-decoration: underline;
  font-size: 1.5em;
}

.active {
  color: #1a9fff;
  text-decoration: underline;
}
main {
  margin-bottom: 15%;
}

/*HOMEPAGE*/
.homepage {
  color: #c5c3c0;
  background-color: #1b293a;
  font-family: sans-serif;
}

.homepage footer {
  background-color: #0e151f;
}
.library {
  display: flex;
  flex-wrap: wrap;
}
.game {
  flex: 33.33%;
  background-color: #000526;
  padding: 1%;
  margin: 1%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
}
.game div p {
  min-width: 250px;
}
.game div {
  flex: 50%;
}

.game div img {
  display: block;
  align-self: center;
  justify-self: center;
  margin: 0.5%;
  height: auto;
  min-width: 250px;
  width: 100%;
}

.button {
  text-align: center;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 5px;
  background-color: #2c3747;
  color: #c5c3c0;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border: 5px solid #FFFFFF;
}

/*ARMA*/

.arma h1, .arma p, .arma a{
  color: #fdfdfd;
  font-family: "Keania One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arma {
  color: #fdfdfd;
  background-image: url("src/armabg.avif");
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.video, .description {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1%;
  margin: 1%;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  background-color: rgba(253, 253, 253, 0.3);
}

.video video {
  width: 100%;
  height: auto;
}
.description {
  font-size: 2em;
  color: #070906;

}
.arma header, .arma footer{
  background-color: #000526;
}

.arma header nav a {
  color: #fdfdfd;
}

.arma header nav .active {
  color: #dda44e;
  text-decoration: underline;
}

/*BF6*/
.bf6 {
  background-image: url("src/BF6_BaseBG.jpg");
  font-family: 'bf6',  sans-serif;
}
.bf6 footer, .bf6 header {
  background-color: #220000;
}
.bf6 h1, .bf6 p, .bf6 a{
  color: #fdfdfd;
  font-family: "Keania One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bf6 header nav .active {
  color: #da0000;
  text-decoration: underline;
}

/*ats*/

.ats h1, .ats p, .ats a{
  color: #fdfdfd;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.ats {
  color: #fdfdfd;
  background-image: url("src/atsbg.webp");
  background-size: cover;
  font-family: sans-serif;
}

.ats header, .ats footer{
  background-color: #000526;
}

.ats header nav a {
  color: #fdfdfd;
}

.ats header nav .active {
  color: #dda44e;
  text-decoration: underline;
}
/*MORDHAU*/
.mordhau h1, .mordhau p, .mordhau a :not(.active){
  color: transparent; 
  background: linear-gradient(45deg, #777 5%, #fff 10%, #ccc 30%, #ddd 50%, #ccc 70%, #fff 80%, #777 95%);
  background-clip: text;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

.mordhau {
  color: #fdfdfd;
  background-image: url("src/mordhaubg2.png");
  background-size: cover;
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

.mordhau header, .mordhau footer{
  background-image: url("src/mordhaubg.png");
}


.mordhau header nav .active {
  color: transparent; 
  text-decoration: underline;
  background: linear-gradient(45deg, #303030 5%, #fff 10%, #ccc 30%, #ddd 50%, #ccc 70%, #fff 80%, #303030 95%);
  filter: sepia() saturate(1500%) hue-rotate(-5deg);
  background-clip: text;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}
/*factorio*/
.factorio h1, .factorio p, .factorio a :not(.active){
  color: transparent; 
  background: linear-gradient(
  45deg, 
  #4C2700 5%,   
  #CC5500 15%,  
  #E37300 40%,  
  #FFB000 55%,  
  #E37300 70%,  
  #CC5500 85%,  
  #4C2700 95%
);
  background-clip: text;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-family: "factorio", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.factorio {
  background-image: url("src/rust2.webp");
  font-family: "factorio", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.factorio header, .factorio footer{
  background-image: url("src/rust.png");
  background-size: cover;
}

.gearL {
  height: 10%;
  width: 10%;
  transform-origin: center;
  animation: spin 2s linear infinite;
}
.gearR {
  height: 10%;
  width: 10%;
  transform-origin: center;
  animation: spinReverse 2s linear infinite;
}

.factorio header nav a:not(.active){
  color: transparent; 
  text-decoration: underline;
  background: linear-gradient(
  180deg, 
  #4C2700 5%,   
  #CC5500 15%,  
  #E37300 40%,  
  #FFB000 55%,  
  #E37300 70%,  
  #CC5500 85%,  
  #4C2700 95%
  );
  background-clip: text;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-family: "factorio", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.factorio header nav .active {
  color: transparent; 
  text-decoration: underline;
  background: linear-gradient(
  180deg, 
  #7A4B00 5%,    
  #C28E00 15%,   
  #FFD700 35%,   
  #FFF8A5 50%,   
  #FFD700 65%,   
  #C28E00 85%,   
  #7A4B00 95%    
  );
  background-clip: text;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-family: "factorio", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*msc*/
.msc h1, .msc p, .msc a :not(.active){
  color: transparent; 
  text-decoration: underline;
  background: linear-gradient(
  135deg, 
  #2E8B57 5%,    
  #009900 15%,   
  #00FF00 40%,   
  #CCFFCC 50%,   
  #00FF00 60%,   
  #009900 85%,   
  #2E8B57 95%    
  );
  background-clip: text;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-family: "msc", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.msc {
  background-image: url("src/mscBanner.png");
  font-family: "msc", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-size: cover;
}

.msc header{
  background-image: url("src/mscbanner2.jpg");
  background-size: contain;
}
.msc footer {
  background-color: #043500;
}

.msc header nav a:not(.active){
  color: transparent; 
  text-decoration: underline;
  background: linear-gradient(
  180deg, 
  #2E8B57 5%,    
  #009900 15%,   
  #00FF00 40%,   
  #CCFFCC 50%,   
  #00FF00 60%,   
  #009900 85%,   
  #2E8B57 95%    
  );
  background-clip: text;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-family: "msc", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.msc header nav .active {
  color: transparent; 
  text-decoration: underline;
  background: linear-gradient(
  180deg, 
  #4D9969 5%,    
  #00CC00 15%,   
  #33FF33 35%,   
  #FFFFFF 50%,   
  #33FF33 65%,   
  #00CC00 85%,   
  #4D9969 95%    
  );
  background-clip: text;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
  font-family: "msc", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes spinReverse {
  0% {
    transform: rotate(360deg);
  }
    100% {
      transform: rotate(0deg);
    }
}

@media screen and (max-width: 800px) {
  .game {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
}